<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/rameshshrestha/Downloads/logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
        </encoder>
    </appender>
    <logger name="com.contactinfromation.contact.controller" additivity="false" level="info">
        <appender-ref ref="SAVE-TO-FILE"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<Configuration status="WARN">-->
<!--    <Appenders>-->
<!--        <Console name="Console" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>-->
<!--        </Console>-->
<!--        <File name="File" fileName="/Users/rameshshrestha/Downloads/logs/application.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>-->
<!--        </File>-->
<!--    </Appenders>-->
<!--    <Loggers>-->
<!--        <Logger name="com.contactinfromation.contact.controller" level="info" additivity="false">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="File"/>-->
<!--        </Logger>-->
<!--        <Root level="info">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="File"/>-->
<!--        </Root>-->
<!--    </Loggers>-->
<!--</Configuration>-->
